/* ======= SPECIAL TAGS ========= */
/* badges */
.avatar-1BDn8e[src*="166365757561634816"] + h2::after,
.avatar-1BDn8e[src*="508424494801485824"] + h2::after,
.avatar-1BDn8e[src*="244392852950482944"] + h2::after,
.avatar-1BDn8e[src*="254362351170617345"] + h2::after,
.avatar-1BDn8e[src*="213220786805145600"] + h2::after,
.avatar-1BDn8e[src*="231827402102276096"] + h2::after,
.avatar-1BDn8e[src*="236006926406778881"] + h2::after,
.avatar-1BDn8e[src*="282138006738042880"] + h2::after,
.avatar-1BDn8e[src*="140012296910012416"] + h2::after,
.avatar-1BDn8e[src*="174868361040232448"] + h2::after,
.avatar-1BDn8e[src*="234148582523928576"] + h2::after,
.avatar-1BDn8e[src*="664933588835368990"] + h2::after,
.avatar-1BDn8e[src*="454072114492866560"] + h2::after,
.avatar-1BDn8e[src*="336557423626027021"] + h2::after,
.avatar-1BDn8e[src*="670550004091322368"] + h2::after,
.avatar-1BDn8e[src*="250353310698176522"] + h2::after,
.avatar-1BDn8e[src*="278516985640517632"] + h2::after{
  content: '';
  color: transparent;
  height: 15px;
  width: 15px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  bottom: -29px;
  left: -22px;
  pointer-events: none;
  filter: drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color)) drop-shadow(0 0 2px var(--primary-color))
}


/* on hover */
.avatar-1BDn8e[src*="166365757561634816"]:hover + h2::after,
.avatar-1BDn8e[src*="508424494801485824"]:hover + h2::after,
.avatar-1BDn8e[src*="244392852950482944"]:hover + h2::after,
.avatar-1BDn8e[src*="254362351170617345"]:hover + h2::after,
.avatar-1BDn8e[src*="213220786805145600"]:hover + h2::after,
.avatar-1BDn8e[src*="231827402102276096"]:hover + h2::after,
.avatar-1BDn8e[src*="236006926406778881"]:hover + h2::after,
.avatar-1BDn8e[src*="282138006738042880"]:hover + h2::after,
.avatar-1BDn8e[src*="140012296910012416"]:hover + h2::after,
.avatar-1BDn8e[src*="174868361040232448"]:hover + h2::after,
.avatar-1BDn8e[src*="234148582523928576"]:hover + h2::after,
.avatar-1BDn8e[src*="664933588835368990"]:hover + h2::after,
.avatar-1BDn8e[src*="454072114492866560"]:hover + h2::after,
.avatar-1BDn8e[src*="336557423626027021"]:hover + h2::after,
.avatar-1BDn8e[src*="670550004091322368"]:hover + h2::after,
.avatar-1BDn8e[src*="250353310698176522"]:hover + h2::after,
.avatar-1BDn8e[src*="278516985640517632"]:hover + h2::after{
  color: white;
  transform: none;
  background-size: cover;
  background-position: center;
  padding: 3px 10px !important;
  height: auto;
  width: fit-content !important;
  box-sizing: border-box !important;
  white-space: nowrap !important;
  bottom: -31px !important;
  font-weight: 700;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  filter: none;
  display: block !important;
  background-color: transparent;
  box-shadow: none !important;
}






/* My friends and my borders/glow */
  /* mine */
.contents-2mQqc9 .avatar-1BDn8e[src*="508424494801485824"] + h2::before{
  content: '';
  position: absolute;
  height: 44px;
  width: 44px;
  top: 0px;
  left: -58px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  border-radius: var(--roundness, var(--user-roundness, 50px)) !important;
  z-index: -1;
}


/* ===== FRIENDS ===== */
/* mine */
.avatar-1BDn8e[src*="508424494801485824"] + h2::after {
  background-image: url(https://monstrousdev.github.io/themes/assets/svgs/elleCrown.svg);
  transition: filter .2s ease-in-out;
  transform: scale(1.1);
  height: 15px !important;
  width: 15px !important;
}
