/*Sets default user popout position to center.*/

.userPopout-3XzG_A {
background-repeat: no-repeat;
background-attachment: fixed;
--user-popout-position: 30% 10%;
}

/* #000 = UNKNOWN DISCRIMINATOR */
/*Toshi#6401*/

[user_by_bdfdb*="508424494801485824"],
[data-user-id*="508424494801485824"] {
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 30% 10%;
--user-background: url('https://i.imgur.com/h8akdhS.gif');
}

