/*Sets default user popout position to center.*/

.userPopout-3XzG_A {
background-repeat: no-repeat;
background-attachment: fixed;
--user-popout-position: 30% 10%;
}

/* #000 = UNKNOWN DISCRIMINATOR */
/*Toshi#6401*/

[user_by_bdfdb*="508424494801485824"],
[data-user-id*="508424494801485824"] {
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 30% 10%;
--user-background: url('https://i.imgur.com/h8akdhS.gif');
}

/* BeautifulBadass#0587 */

[user_by_bdfdb*="724378834203443291"],
[data-user-id*="724378834203443291"] {
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 30% 10%;
--user-background: url('https://i.imgur.com/DYHvSuD.gif');
}

/* Selene Sinistra#9923 */

[user_by_bdfdb*="457534252955992084"],
[data-user-id*="457534252955992084"] {
background-repeat: repeat;
background-attachment: fixed;
background-position: 30% 10%;
--user-background: url('https://i.imgur.com/1qjdJV5.gif');
}
/* Selene Sinistra#9923 */

[user_by_bdfdb*="600841660842377248"],
[data-user-id*="600841660842377248"] {
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 30% 10%;
--user-background: url('https://i.imgur.com/vJrggq0.gif');
}
[user_by_bdfdb*="691462282324082758"],
[data-user-id*="691462282324082758"] {
background-size: contain;
--user-background: url('https://i.imgur.com/Ra7Fqku.gif');
}
